
p { margin: 0px; padding: 0px; }
.s-post{
    background-color: #dcdcdc;
    /* height:max-content; */
    max-width: 1300px;
    margin:50px 100px 50px 100px; /*top right bottom left*/
    height:350px;
    padding: 35px;
    font-family: sans-serif;
    color: rgb(69, 29, 29);
}

.s-head{
    align-items: center;
    margin-bottom: 10px;
    margin-top: 0px;
}

.s-title{
    background-color: #ac9494;
    /* margin: 50px; */
    padding: 15px;
    margin-bottom: 25px;
    font-size: 25px;

}

.s-description{
    background-color: #8b7272;
    height: 170px;
    padding: 15px;
}

.s-foot{
    /* margin: 25px; */
    margin-left: 25px;
    margin-right: 25px;
}

.s-foot .s-left{
    /* background-color: brown; */
    /* padding: 2px; */
    margin-top: 15px;
} 

.s-foot .s-right{
    float: right;
    width: max-content;
    background-color: transparent;
    padding: 0px;
    margin-top: 0px;
    
}